body {
    background-color: aquamarine;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* animation: pulse 1s infinite; */
      
}

h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Fascinate', cursive;
    background-color: aqua;
 }


img {
    width: 300 px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
}  

img:hover {
    transform: scale(1.3)
}
    

